<div class="container d-flex justify-content-center align-items-center dashboard-container mt-5">
  <div class="w-100 mt-5">
    <div class="dashboard-header text-center mb-4 fw-bold mt-5">
      <h1>Bitacora</h1>
    </div>

    <!-- Card Row -->
    <div class="row g-4 justify-content-center">
      <!-- Bitácora Card -->
      <div class="">
        <div class="card text-center h-100">
          <div class="card-body">

            <form [formGroup]="formulario" (ngSubmit)="onSubmit()">
              <select class="form-select form-select-lg mb-3" formControlName="empleadoId"
                aria-label="Large select example">
                <!-- Opción por defecto con un valor vacío -->
                <option value="" disabled selected>Seleccione un empleado</option>

                <option *ngFor="let registro of registros" [value]="registro.id">
                  {{ registro.nombre }}
                </option>
              </select>

              <!-- Mostrar un mensaje de error si no se selecciona un valor -->
              <div *ngIf="formulario.get('empleadoId')?.invalid && formulario.get('empleadoId')?.touched">
                <small style="color: red;">Selecciona un empleado.</small>
              </div>

              <select class="form-select form-select-lg mb-3" formControlName="herramientaId"
                aria-label="Large select example">
                <!-- Opción por defecto con un valor vacío -->
                <option value="" disabled selected>Seleccione una herramienta</option>

                <option *ngFor="let registro of products" [value]="registro.id">
                  {{ registro.nombre }}
                </option>
              </select>

              <!-- Mostrar un mensaje de error si no se selecciona un valor -->
              <div *ngIf="formulario.get('herramientaId')?.invalid && formulario.get('herramientaId')?.touched">
                <small style="color: red;">Selecciona una herramienta.</small>
              </div>

              <button class="btn btn-success" type="submit" [disabled]="formulario.invalid">Enviar</button>
            </form>



            <div class="table-responsive mt-2">
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Fecha</th>
                    <th scope="col">Herramienta</th>
                    <th scope="col">Status</th>
                    <th scope="col">Editar</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let bitacora of bitacora | paginate: { itemsPerPage: itemsPerPage, currentPage: p }">
                    <td>{{ bitacora.nombreEmpleado }}</td>
                    <td>{{ bitacora.fecha}}</td>
                    <td>{{ bitacora.nombreHerramienta }}</td>
                    <td>
                      <i [ngClass]="bitacora.estatus ? 'bi bi-check2-circle success' : 'bi bi-x-circle error'"></i>
                    </td>
                    <td>
                      <button type="button" class="btn btn-outline-secondary" (click)="toggleEstatus(bitacora)">
                        <i class="bi bi-pencil-square edit"></i>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
              <pagination-controls (pageChange)="p = $event"></pagination-controls>
              <!-- Añade controles de paginación -->
            </div>


          </div>
        </div>

      </div>

    </div>
  </div>
</div>