<div>
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a href="#" class="navbar-brand">HOME</a>
    <div class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="dashboard" class="nav-link">Dashboard</a>
      </li>
      <li class="nav-item">
        <a routerLink="bitacora" class="nav-link">Bitacora</a>
      </li>
      <li class="nav-item">
        <a routerLink="herramienta" class="nav-link">Herramienta</a>
      </li>
    </div>
  </nav>

  <div class="container mt-3">
    <router-outlet></router-outlet>
  </div>
</div>
<!-- Footer -->
<footer class="page-footer font-small blue">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2024 Copyright:
    <a > Mauricio López Asencio</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->